@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  /* background : #121212; */
  background: black;
  margin: 0;
  height: '100%';
  padding: 0;
  font-family: sans-serif;
}
