# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
client/node_modules
server/node_modules

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

client/.env
server/.env
