.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: none;
}

.carousel.carousel-slider {
  border-radius: 45px;
  margin: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
}

.carousel .slide img {
  vertical-align: top;
  border: 0;
  width: 100%;
}

.carousel img {
  display: inline-block;
  pointer-events: none;
  width: auto;
}

.slider.animated {
  margin-top: 11px;
}
